[Desktop Entry]
Encoding=UTF-8
Name=Link to libraries.zip33 MB Zip33 MB — Click to download
Type=Link
URL=https://files.slack.com/files-pri/TRL46G82X-F01CD6D04TE/download/libraries.zip
Icon=text-html
